{% extends "base.html" %}

{% block pageSection %}

    <form action="/new" method="post">

        <label for="Date">Fecha:</label>
        <input type="date" id="Date" name="Date" value="{{ requestForm.Date }}" required>

        <label for="Description">Descripción:</label>
        <input type="text" id="Description" name="Description" value="{{ requestForm.Description }}"placeholder="En qué te gastaste el dinero">

        <label for="Value">Monto:</label>
        <input type="number" step="0.01" id="Value" name="Value" value="{{ requestForm.Value }}"placeholder="Cuánto gastaste">
    
        <button type="submit">Crear</button>

    </form>

    <article>
        <ul>
            {% for item in msgError %}
            <li class="miestilo">{{ item }}</li>
            {% endfor %}                    
        </ul>
    </article>

{% endblock %}